<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.arorms.iot.server.mapper.MessageMapper">

    <resultMap id="MessageResultMap" type="cn.arorms.iot.server.entity.Message">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="created_at" property="time" />
    </resultMap>

    <insert id="insertMessage">
        INSERT INTO messages (username, type, content)
        VALUES (#{username}, #{type}, #{content});
    </insert>

    <select id="getAllMessage" resultMap="MessageResultMap">
        SELECT * FROM messages;
    </select>

    <select id="getMessageById" resultMap="MessageResultMap">
        SELECT * FROM messages WHERE id=#{id};
    </select>
</mapper>
